# PISA data exploration
## by Walaa Elnozahy

## Preliminary Wrangling

PISA stands for "The Program for International Student Assessment" which is an international assessment that measures students who are 15-year-old. it aims to assess their skills such as reading, mathematics, and science literacy every 3 years. This data is gathered from gathered done for students who are about to end their education. they are assessing their level and skills  along with details about them to check how well prepared they are for life beyond school.
> data should be containing all the details about students who went throught the survey and their skills and details

In [ ]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Here we are going to load the data to check and identify what does it contain
> Load in your dataset and describe its properties through the questions below..

In [ ]:
# load in the dataset into a pandas dataframeb
pisadef=pd.read_csv('pisadict2012.csv', encoding= 'latin1');

In [ ]:
# General details about the data shape and composition
print(pisadef.shape)
print(pisadef.dtypes)
print(pisadef.head(10))

In [ ]:
pisa=pd.read_csv('pisa2012.csv', encoding= 'latin1')

In [ ]:
ps= pisa.head(10)
ps.to_csv('ps2012.csv', index = False)

In [ ]:
# General details about the data shape and composition
print(pisa.shape)
print(pisa.dtypes)
pisa.head(10)

In [ ]:
# remove the not needed index
pisa = pisa.drop("Unnamed: 0",axis=1)

In [ ]:
# preview data
print(pisa.head())
print(pisa.isnull().sum())
print(pisa.describe())
# check for dublicates 
print(sum(pisa.duplicated()))

Data sets has huge number of data. which is not totally needed and based on the info at hand we can select set of data that would be most useful to be used 
create a new dataset with these data only so we can work on it

In [79]:
#based on all of this we will work using these fields
df = pisa[['STIDSTD',
           'LMINS','MMINS','SMINS',
           'ST57Q01','ST57Q02','ST57Q03',
           'ST57Q04','ST57Q05','ST57Q06','OUTHOURS','QUESTID','GRADE','AGE','ST06Q01','ST03Q01','ST03Q02','ST04Q01','ST01Q01',
           'PV1MATH','PV2MATH','PV3MATH','PV4MATH','PV5MATH',
           'PV1READ','PV2READ','PV3READ','PV4READ','PV5READ',
           'PV1SCIE','PV2SCIE','PV3SCIE','PV4SCIE','PV5SCIE',
           #'CNT', 'ST55Q01','ST55Q02','ST55Q03','ST55Q04',
           #'SUBNATIO', 'STRATUM','OECD','NC',          
           #'ST15Q01','ST19Q01','ST02Q01','ST115Q01',          
           #'ST27Q01','ST27Q02','ST27Q03','ST27Q04','ST27Q05','ST28Q01',
          'SCHOOLID','ST11Q01','ST11Q02',
          'ST08Q01','ST09Q01','ST13Q01','ST17Q01',
          'OCOD1','OCOD2']].copy()



df.rename(columns={'GRADE':'grade','LMINS':'Learningtime_testlanguage',
                   'MMINS':'Learningtime_Mathematics','SMINS':'Learningtime_Science',
                   'AGE':'age','ST03Q01':'birth_month','ST03Q02':'birth_year',
                   'ST04Q01':'gender','CNT':'countrycode','OUTHOURS':'Out_StudyTime',
                   #'SUBNATIO':'subregion',
                   #'ST55Q01':'Out_lessons_testlang',
                   #'ST55Q02':'Out_lessons_maths',
                   #'ST55Q03':'Out_lessons_science',
                   #'ST55Q04':'Out_lessons_other',
                   #'OECD':'OECD_country','NC':'national_center_code',
                   #'ST19Q01':'Father_jobstatus','ST15Q01':'mother_jobstatus',
                   #'ST27Q01':'num_mobiles','ST27Q02':'num_tvs','ST27Q03':'num_computers',
                   #'ST27Q04':'num_cars','ST27Q05':'num_rooms','ST28Q01':'num_books',
                   'ST57Q01':'Out_StudyTime_Homework',
                   'ST57Q02':'Out_StudyTime_GuidedHomework',
                   'ST57Q03':'Out_StudyTime_PersonalTutor',
                   'ST57Q04':'Out_StudyTime_CommercialCompany',
                   'ST57Q05':'Out_StudyTime_WithParent',
                   'ST57Q06':'Out_StudyTime_Computer',
                   'QUESTID':'StudentQuestionnaireForm',
                   'SCHOOLID':'school_id','ST01Q01':'international_grade',
                   'ST11Q01':'AtHome_Mother', 'ST11Q02':'AtHome_Father',
                   'STIDSTD':'student_id','ST02Q01':'study_programme',
                   'ST08Q01':'late_for_school','ST09Q01':'skip_day','ST115Q01':'skip_classes',
                   'ST13Q01':'mother_highestdegree','ST17Q01':'father_highestdegree',
                   'OCOD1':'mother_occupation','OCOD2':'father_occupation'}, inplace=True)

In [74]:
#save it in actual document 
df.to_csv('data.csv',index=False)

In [75]:
#df=pd.read_csv('dffile.csv', encoding= 'latin1');

In [80]:
# General details about the data shape and composition
print(df.shape)
print(df.dtypes)
df.head(10)

(485490, 43)
student_id                           int64
Learningtime_testlanguage          float64
Learningtime_Mathematics           float64
Learningtime_Science               float64
Out_StudyTime_Homework             float64
Out_StudyTime_GuidedHomework       float64
Out_StudyTime_PersonalTutor        float64
Out_StudyTime_CommercialCompany    float64
Out_StudyTime_WithParent           float64
Out_StudyTime_Computer             float64
Out_StudyTime                      float64
StudentQuestionnaireForm            object
grade                              float64
age                                float64
ST06Q01                            float64
birth_month                          int64
birth_year                           int64
gender                              object
international_grade                  int64
PV1MATH                            float64
PV2MATH                            float64
PV3MATH                            float64
PV4MATH                            float64
PV5MATH                            float64
PV1READ                            float64
PV2READ                            float64
PV3READ                            float64
PV4READ                            float64
PV5READ                            float64
PV1SCIE                            float64
PV2SCIE                            float64
PV3SCIE                            float64
PV4SCIE                            float64
PV5SCIE                            float64
school_id                            int64
AtHome_Mother                       object
AtHome_Father                       object
late_for_school                     object
skip_day                            object
mother_highestdegree                object
father_highestdegree                object
mother_occupation                   object
father_occupation                   object
dtype: object

,student_id,Learningtime_testlanguage,Learningtime_Mathematics,Learningtime_Science,Out_StudyTime_Homework,Out_StudyTime_GuidedHomework,Out_StudyTime_PersonalTutor,Out_StudyTime_CommercialCompany,Out_StudyTime_WithParent,Out_StudyTime_Computer,...,PV5SCIE,school_id,AtHome_Mother,AtHome_Father,late_for_school,skip_day,mother_highestdegree,father_highestdegree,mother_occupation,father_occupation
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,392.9877,1,Yes,Yes,None,None,<ISCED level 3A>,<ISCED level 3A>,Building architects,Primary school teachers
1,2,315.0,270.0,90.0,NaN,NaN,6.0,0.0,0.0,2.0,...,454.8116,1,Yes,Yes,One or two times,None,<ISCED level 3A>,<ISCED level 3A>,"Tailors, dressmakers, furriers and hatters",Building construction labourers
2,3,300.0,NaN,NaN,NaN,6.0,6.0,7.0,2.0,3.0,...,499.6643,1,Yes,Yes,None,None,"<ISCED level 3B, 3C>",<ISCED level 3A>,Housewife,Bricklayers and related workers
3,4,135.0,135.0,90.0,10.0,2.0,2.0,0.0,0.0,3.0,...,426.5573,1,Yes,Yes,None,None,"<ISCED level 3B, 3C>",<ISCED level 3A>,Housewife,"Cleaners and helpers in offices, hotels and ot..."
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,422.1746,1,Yes,Yes,One or two times,None,She did not complete <ISCED level 1>,"<ISCED level 3B, 3C>",Housewife,Economists
5,6,NaN,NaN,NaN,3.0,2.0,9.0,9.0,1.0,2.0,...,325.5688,1,Yes,Yes,One or two times,None,"<ISCED level 3B, 3C>",<ISCED level 2>,Missing,Cooks
6,7,135.0,225.0,90.0,3.0,3.0,2.0,2.0,0.0,0.0,...,466.1880,1,Yes,Yes,Three or four times,None,"<ISCED level 3B, 3C>",<ISCED level 3A>,Housewife,Stall and market salespersons
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,519.8993,1,Yes,Yes,None,None,<ISCED level 3A>,<ISCED level 3A>,Housewife,General office clerks
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,382.3573,1,NaN,NaN,None,NaN,<ISCED level 3A>,<ISCED level 3A>,Primary school teachers,"Bakers, pastry-cooks and confectionery makers"
9,10,240.0,90.0,270.0,NaN,NaN,0.0,9.0,9.0,5.0,...,287.7098,2,Yes,Yes,One or two times,One or two times,<ISCED level 3A>,<ISCED level 3A>,Sales and marketing managers,Civil engineers

In [ ]:
# let's review the final dataset to check for duplications
print(df.duplicated())

In [ ]:
df['total_outStudy_time'] = df[['Out_StudyTime_Homework', 'Out_StudyTime_GuidedHomework',
                                     'Out_StudyTime_PersonalTutor','Out_StudyTime_CommercialCompany',
                                     'Out_StudyTime_WithParent','Out_StudyTime_Computer','Out_StudyTime']].sum(axis=1)
df.head(10)

In [ ]:
#check null values in the final dataset
print(df.isnull().sum())

based on these info we have few null value columns as the data is nearly 500,000 [485,490]
so for the small number of nulls such as for age, grades we can either discard the data or set the null values to equal age average per each country/school

but we prefer to discard these columns as it's not clear and we have enought data

In [ ]:
#we take a copy of this data and start our final cleaning process 
df_copy=df.copy()
df_copy.dropna(subset=['grade','age'], inplace=True)
df_copy=df_copy.fillna(df.mean(), inplace=True)
print(df_copy.isnull().sum())

In [ ]:
df_copy.describe()

In [ ]:
#print(df_copy.head(10))
#print(df_copy.info())
#so let's try to drop the null values
#df_copy.dropna(subset=['grade','age','At Home - Mother','At Home - Father','study_programme',
#                       'late_for_school','skip_day' ,'skip_classes','mother_highestdegree',
#                       'mother_jobstatus','father_highestdegree','Father_jobstatus',
#                       'num_mobiles','num_tvs','num_computers','num_cars' ,'num_rooms',
#                       'num_books' ,'mother_occupation','father_occupation'], inplace=True)

for now we are going to keep the fields that include null for the categorical points such as 
- At Home - Mother        
- At Home - Father        
- study_programme            
- late_for_school          
- skip_day                 
- skip_classes             
- mother_highestdegree    
- mother_jobstatus        
- father_highestdegree    
- Father_jobstatus        
- num_mobiles              
- num_tvs                  
- num_computers           
- num_cars                
- num_rooms               
- num_books               
- mother_occupation        
- father_occupation  

we may drop these fields or just replace it with new category that represent that it has no value so we can measure this

### What is the structure of your dataset?

> This data set consists of 636 column feature that shows detila about each student 
and 485,490 students data included these data includes many thing such as [age, grade, student ID, nationality, motnher and father education and job status, language used in their home, details about their level and wealth]
some of the variables are numeric such as the age, weight. but most of the data are categorical such as the job status, cpuntries


### What is/are the main feature(s) of interest in your dataset?

> I'm most interested in figuring out who are the top student's countries. what is the common feature for these students is is the number of hours they study.does perfrormance is based on gender, location, or student attitudes?


### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> the most important fields based on these data is grades per each student for math, scinece and read which will determine the students level. Along with other categorical indication for the student such as geneder, country of origin and the grade he is in.

In [ ]:
#df_copy.iloc[::10]

In [ ]:
# now it's important to check the correlation between the columns as we have too much details and we need to start anlysing 
#plt.figure(figsize=(20,20))
#sns.heatmap(df_copy.corr(), annot=True)

## Univariate Exploration

Now In this section, we are going to start investigation per each variable individually to check its details. you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.
### parameter 1: Students Countries

In [ ]:
#number of students per each countries
df_copy.countrycode.value_counts()

In [ ]:
#list of all countires
base_color = sns.color_palette()[0] # To give the same colors to the bars
year= df_copy.countrycode.value_counts().index
fig_dims = (10,20)
fig = plt.subplots(figsize=fig_dims)
sns.countplot(y='countrycode',data = df_copy , color=base_color,order=year)

In [ ]:
#top 10 Count
df_copy.countrycode.value_counts().index[:10]

In [ ]:
#represent counts in boxplot 
plt.figure(figsize=(20,5))
sns.boxplot(df['countrycode'].value_counts())
sns.swarmplot(df['countrycode'].value_counts(), color='crimson')
plt.title('Student\'s country boxplot', size=30);

In [ ]:
df['countrycode'].describe()

### Conclusion for Students' countries
**Based on the student's country the top 10 countries are**
> ('Mexico', 'Italy', 'Spain', 'Canada', 'Brazil', 'Australia','United Kingdom', 'United Arab Emirates', 'Switzerland', 'Qatar') 

Most of the mean for the most of the countries is **5000**. there is many outliers specially for the top countries such as mexico that gets **33,806** and italy with **31,073**. 

=========
### parameter 2: Start leaning age

In [ ]:
df.ST06Q01.hist()

In [ ]:
df.ST06Q01.describe()

### Conclusion for start learn age
based on this most students started to learn on age 6, there is outliers which are small number of students who started to learn late on age of 16

=========
### parameter 3: Student's age

In [ ]:
sns.distplot(df_copy['age']);

In [ ]:
age= df_copy.age.value_counts().index
fig_dims = (8,8)
fig = plt.subplots(figsize=fig_dims)
sns.countplot(y='age',data = df_copy , color=base_color,order=age)

In [ ]:
birthyear= df_copy.birth_month.value_counts().index
fig_dims = (8,8)
fig = plt.subplots(figsize=fig_dims)
sns.countplot(y='birth_month',data = df_copy , color='crimson',order=birthyear)

In [ ]:
print (age.min(), ' and maximum of', age.max())
print ('number of students per each age:\n', df_copy.age.value_counts())
print('\n',df['age'].describe())

### Conclusion for age
there is no huge age gab between students as min age is 15.17  and maximum of 16.33
Most students are between 15.5 and 16 
mean = 15.784283

=========
### parameter 4: Gender

In [ ]:
gender= df_copy.gender.value_counts().index
fig_dims = (4,4)
fig, (ax1,ax2) = plt.subplots(1,2, figsize=(12,4))  # 1 row, 2 columns
sns.countplot(x='gender',data = df_copy , color=base_color,order=gender,ax=ax2)
plt.title('STUDENTS GENDER');
ax1.pie(df_copy['gender'].value_counts(), labels=df_copy['gender'].value_counts().index,startangle=90,counterclock=False)
print('Male Students: ',df_copy['gender'].value_counts()['Male'],' which is: {:.4f}%'.format(df_copy['gender'].value_counts()['Male']/df_copy.shape[0]))
print('Female Students: ',df_copy['gender'].value_counts()['Female'],' which is:  {:.4f}%'.format(df_copy['gender'].value_counts()['Female']/df_copy.shape[0]))

### Conclusion for gender
Seems to be not biased as the count of female and male are so similar almost divided in half Most 
Male Students:  239809  which is: 0.4950%
Female Students:  244693  which is:  0.5050%


=========
### parameter 5: students score in science, math and reading

In [ ]:
#sns.boxplot(data=df_copy, x='PV3MATH', y='PV4MATH', color=base_color)
#}plt.xticks(rotation=15);
#fig, ax = plt.subplots(nrows=5, figsize = [10,8])
fig, ax= plt.subplots(nrows=5,ncols=3,figsize=[20,12])

mathvariables = ['PV1MATH', 'PV2MATH','PV3MATH', 'PV4MATH', 'PV5MATH']      
readvariables = ['PV1READ','PV2READ','PV3READ','PV4READ','PV5READ']
scievariables = ['PV1SCIE','PV2SCIE','PV3SCIE','PV4SCIE','PV5SCIE']
i=0 
for var in mathvariables:
    bins = np.arange(min(df_copy[var]), max(df_copy[var])+5, 5)
    ax[i,0].hist(data = df_copy, x = var, bins = bins)
    ax[i,0].set_xlabel('{} (mm)'.format(var))
    i+=1
        
r=0
for var in readvariables:
    bins = np.arange(min(df_copy[var]), max(df_copy[var])+5, 5)
    ax[r,1].hist(data = df_copy, x = var, bins = bins, color='crimson')
    ax[r,1].set_xlabel('{} (mm)'.format(var))
    r+=1
s=0   
for var in scievariables:
    bins = np.arange(min(df_copy[var]), max(df_copy[var])+5, 5)
    ax[s,2].hist(data = df_copy, x = var, bins = bins, color='green')
    ax[s,2].set_xlabel('{} (mm)'.format(var))
    s+=1
plt.show()

In [ ]:
bins = np.arange(0, df_copy['PV3MATH'].max()+5, 5)
plt.hist(data = df_copy, x = 'PV3MATH', bins = bins);

In [ ]:
print(df_copy['PV1READ'].describe())
print(df_copy['PV2READ'].describe())      
print(df_copy['PV3READ'].describe())
print(df_copy['PV4READ'].describe())
print(df_copy['PV5READ'].describe())
print(df_copy['PV1SCIE'].describe())      
print(df_copy['PV2SCIE'].describe())
print(df_copy['PV3SCIE'].describe())
print(df_copy['PV4SCIE'].describe())
print(df_copy['PV5SCIE'].describe())

In [ ]:
Reading = df_copy.PV1READ.value_counts()
df_copy['average_read'] = df[['PV1READ', 'PV2READ','PV3READ','PV4READ','PV5READ']].mean(axis=1)
df_copy['average_science'] = df[['PV1SCIE', 'PV2SCIE','PV3SCIE','PV4SCIE','PV5SCIE']].mean(axis=1)
df_copy['average_math'] = df[['PV1MATH', 'PV2MATH','PV3MATH','PV4MATH','PV5MATH']].mean(axis=1)
df_copy['total_avg_score'] = df[['average_math', 'average_science','average_read']].mean(axis=1)

df_copy.head()

In [ ]:
fig, ax= plt.subplots(nrows=3,figsize=[20,12])

variables = ['average_read','average_science','average_math']
i=0 
for var in variables:
    bins = np.arange(min(df_copy[var]), max(df_copy[var])+5, 5)
    ax[i].hist(data = df_copy, x = var, bins = bins)
    ax[i].set_xlabel('{} (mm)'.format(var))
    i+=1
    print("\033[1m" + var, ' details is \n' + "\033[0m",df_copy[var].describe())

plt.show()

### conclusion scores
the scores seems balanced and the distribution takes the bill shape. 
scores for read, scinece and math is around 465 and 475 however seems like the math has the most outliers with top students who got 903

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> the scores are normally distributed, however as we have 5 levels for the scores. then I had to calculate the average for the math so we can use it directly. Also the countries seems to have outliers 

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> the age and gender had null values, that wasn't huge so I dropped these values to remove nulls. Also score, calculated the average score for each type [Scinece, reading and math]

## Bivariate Exploration

In this section we are going to start to check the relation between 2 vaiables in the system such as the age, gender and location with regard to the total average score

In [ ]:
#list of all schools
base_color = sns.color_palette()[0] # To give the same colors to the bars
school_id= df_copy.school_id.value_counts().index[:10]
fig_dims = (5,5)
fig = plt.subplots(figsize=fig_dims)
sns.countplot(y='school_id',data = df_copy , color=base_color,order=school_id)

In [ ]:
# let's compare top countries vs. gender
year= df_copy.countrycode.value_counts().index[:10]
fig = plt.subplots(figsize=(8,8))
country_gender = sns.countplot(y=df.countrycode, hue=df.gender, data=df_copy,order=year)
country_gender.set_title("country VS gender")
plt.show()

In [ ]:
df_75=df_copy.query('total_avg_score>=@df_copy.total_avg_score.quantile(.75)')
df_90=df_copy.query('total_avg_score>=@df_copy.total_avg_score.quantile(.90)')
df_95=df_copy.query('total_avg_score>=@df_copy.total_avg_score.quantile(.95)')
df_99=df_copy.query('total_avg_score>=@df_copy.total_avg_score.quantile(.99)')

percent=[75,90,95,99]

fig, ax=plt.subplots(nrows=2, ncols=2, figsize=(8,5))

ax=ax.flatten()
for i in range(4):
    plt.sca(ax[i])
    df=eval('df_'+str(percent[i]))
    plt.countplot(y=df.countrycode, hue=df.gender, data=df_copy,order=year)
    pie(df['gender'].value_counts(), labels=df['gender'].value_counts().index,startangle=90,counterclock=False,autopct='%.2f')
    plt.axis('square')
    plt.title('TOP '+ str(percent[i])+'th PERCENTILE BY GENDER')

In [ ]:
fig, ax=plt.subplots(nrows=2, ncols=2, figsize=(18,10))
ax=ax.flatten()
for i in range(4):
    plt.sca(ax[i])
    df=eval('df_'+str(percent[i]))
    sns.countplot(y=df.countrycode,color=base_color,  data=df_copy,order=df['countrycode'].value_counts().index[:10])
    plt.title('TOP '+ str(percent[i])+'th PERCENTILE for score BY country')

In [ ]:
fig, ax=plt.subplots(nrows=2, ncols=2, figsize=(18,10))

ax=ax.flatten()
for i in range(4):
    plt.sca(ax[i])
    df=eval('df_'+str(percent[i]))
    sns.countplot(y=df.school_id,color=base_color,  data=df_copy,order=df['school_id'].value_counts().index[:10])
    plt.title('TOP '+ str(percent[i])+'th PERCENTILE for score BY school')

In [ ]:
sns.boxplot(data=df_copy,order=df['school_id'].value_counts().index[:10], x='school_id', y='total_avg_score', color=base_color)
plt.xticks(rotation=15);

In [ ]:
School vs country 
schools = [48,18,66,150,130,2,71,53,114,59]

### Conclusion
Order of the top counteries changed based on the percentile level changed when the level increases the italy goes down in the order instead of being the first country. Same occurs for the ages

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> the top countires changes based on the percential level we are using 

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

In [ ]:
g = sns.FacetGrid(data = df_copy, hue = 'gender', hue_order=['male', 'Female'], size = 5, aspect = 1.5)
g.map(sns.regplot, 'gender', 'total_avg_score', x_jitter = 0.04, fit_reg = False)
g.add_legend()

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!

print(pisa['VER_STU'].describe()) #date of creation and seems all rows has the same date
print('==========')
print(pisa['SENWGT_STU'].describe()) #Senate weight - sum of weight within the country is 1000
print('==========')
print(pisa['W_FSTUWT'].describe()) #FINAL STUDENT WEIGHT
print('==========')
print(pisa['WEALTH'].describe())
print('==========')
print(pisa['OUTHOURS'].describe()) #Out-of-School Study Time
print('==========')
print(pisa['OPENPS'].describe()) #Openness for Problem Solving
print('==========')
print(pisa['OCOD1'].describe())#	ISCO-08 Occupation code - Mother
print('==========')
print(pisa['OCOD2'].describe())#	ISCO-08 Occupation code - Father
LMINS	Learning time (minutes per week)  - <test language>
LANGN	Language at home (3-digit code)
AGE	Age of student
GRADE	Grade compared to modal grade in country
====
df.rename(columns={'GRADE':'grade','AGE':'age','LANGN':'home_langcode','LMINS':'learning_time',
                   'OPENPS':'problemsolving_open',
                   'OUTHOURS':'outschool_study','CNT':'countrycode', 'SUBNATIO':'subregion',
                   'STRATUM','OECD':'OECD_country','NC':'national_center_code','SCHOOLID':'school_id',
                   'ST20Q01':'birth_country','ST20Q02':'mother_birth_country','ST20Q03':'father_birth_country',
                   'ST25Q01':'home_language',
                   'STIDSTD':'student_id','ST01Q01':'international_grade','ST02Q01':'study_programme',
                   'ST03Q01':'birth_month','ST03Q02':'birth_year','ST04Q01':'gender',
                   'ST08Q01':'late_for_school','ST09Q01':'skip_day','ST115Q01':'skip_classes',
                   'ST13Q01':'mother_highestdegree','ST15Q01':'mother_jobstatus',
                   'ST17Q01':'father_highestdegree','ST19Q01':'Father_jobstatus',
                   'ST27Q01':'num_mobiles','ST27Q02':'num_tvs','ST27Q03':'num_computers',
                   'ST27Q04':'num_cars','ST27Q05':'num_rooms','ST28Q01':'num_books',
                   'EC05Q01': 'firstlang','EC06Q01': 'start_learn_at',
                   'EC07Q01':'mother_language','EC07Q02':'father_language',
                   'EC07Q03':'sibling_language','EC07Q04':'bf_language',
                   'EC07Q05':'Schoolmates_language','OCOD1':'mother_occupation',
                   'OCOD2':'father_occupation','W_FSTUWT':'final_weight','SENWGT_STU':'countryweight'}, inplace=True)
=====

CNT	Country code 3-character
SUBNATIO	Adjudicated sub-region code 7-digit code (3-digit country code + region ID + stratum ID)
STRATUM	Stratum ID 7-character (cnt + region ID + original stratum ID)
OECD	OECD country
NC	National Centre 6-digit Code
SCHOOLID	School ID 7-digit (region ID + stratum ID + 3-digit school ID)
STIDSTD	Student ID
ST01Q01	International Grade
ST02Q01	National Study Programme
ST03Q01	Birth - Month
ST03Q02	Birth -Year
ST04Q01	Gender
ST08Q01	Truancy - Late for School
ST09Q01	Truancy - Skip whole school day
ST115Q01	Truancy - Skip classes within school day

ST13Q01	Mother<Highest Schooling>
ST15Q01	Mother Current Job Status
ST17Q01	Father<Highest Schooling>
ST19Q01	Father Current Job Status

ST20Q01	Country of Birth International - Self
ST20Q02	Country of Birth International - Mother
ST20Q03	Country of Birth International - Father
ST25Q01	International Language at Home

ST27Q01	How many - cellular phones
ST27Q02	How many - televisions
ST27Q03	How many - computers
ST27Q04	How many - cars
ST27Q05	How many - rooms bath or shower
ST28Q01	How many books at home

EC05Q01	First language learned
EC06Q01	Age started learning <test language>
EC07Q01	Language spoken - Mother
EC07Q02	Language spoken - Father
EC07Q03	Language spoken - Siblings
EC07Q04	Language spoken - Best friend
EC07Q05	Language spoken - Schoolmates

In [ ]:
At Home - Mother
At Home - Father
mother_highestdegree
mother_jobstatus 
mother_occupation

father_highestdegree
Father_jobstatus
father_occupation

study_programme  
late_for_school   
skip_day      
skip_classes   
num_mobiles  
num_tvs 
num_computers 
num_cars      
num_rooms  
num_books

In [ ]:
# now it's important to check the correlation between the columns as we have too much details and we need to start anlysing 
#lt.figure(figsize=(20,20))
#sns.heatmap(pisa.corr(), annot=True)

In [ ]:
#international_grade= df_copy.international_grade.value_counts().index
#print(international_grade)
#fig_dims = (4,4)
#fig = plt.subplots(figsize=fig_dims)
#print('International Grade #: ',international_grade, 'percentage is',df_copy['international_grade'].value_counts(),' which is: {:.4f}%'.format(df_copy['international_grade'].value_counts()[var]/df_copy['international_grade'].value_counts()))
#print('Female Students: ',df_copy['gender'].value_counts()['Female'],' which is:  {:.4f}%'.format(df_copy['gender'].value_counts()['Female']/df_copy.shape[0]))
#sns.countplot(x='international_grade',data = df_copy , color=base_color,order=international_grade)

In [ ]:
df = pisa[['STIDSTD','GRADE','AGE','ST06Q01','LANGN','LMINS','OPENPS','OUTHOURS',
          'CNT', 'SUBNATIO', 'STRATUM','OECD','NC','SCHOOLID',
          'ST20Q01','ST20Q02','ST20Q03','ST25Q01',
          'ST01Q01','ST02Q01','ST03Q01','ST03Q02',
          'ST04Q01','ST08Q01','ST09Q01','ST115Q01','ST13Q01',
          'ST15Q01','ST17Q01','ST19Q01',
          'ST27Q01','ST27Q02','ST27Q03','ST27Q04','ST27Q05','ST28Q01',
          'EC05Q01','EC06Q01','EC07Q01','EC07Q02','EC07Q03','EC07Q04','EC07Q05',
          'OCOD1','OCOD2','W_FSTUWT','SENWGT_STU']].copy()

df.rename(columns={'GRADE':'grade','AGE':'age','LANGN':'home_langcode','LMINS':'learning_time',
                   'OPENPS':'problemsolving_open','ST06Q01':'age2',
                   'OUTHOURS':'outschool_study','CNT':'countrycode', 'SUBNATIO':'subregion',
                   'OECD':'OECD_country','NC':'national_center_code','SCHOOLID':'school_id',
                   'ST20Q01':'birth_country','ST20Q02':'mother_birth_country','ST20Q03':'father_birth_country',
                   'ST25Q01':'home_language',
                   'STIDSTD':'student_id','ST01Q01':'international_grade','ST02Q01':'study_programme',
                   'ST03Q01':'birth_month','ST03Q02':'birth_year','ST04Q01':'gender',
                   'ST08Q01':'late_for_school','ST09Q01':'skip_day','ST115Q01':'skip_classes',
                   'ST13Q01':'mother_highestdegree','ST15Q01':'mother_jobstatus',
                   'ST17Q01':'father_highestdegree','ST19Q01':'Father_jobstatus',
                   'ST27Q01':'num_mobiles','ST27Q02':'num_tvs','ST27Q03':'num_computers',
                   'ST27Q04':'num_cars','ST27Q05':'num_rooms','ST28Q01':'num_books',
                   'EC05Q01': 'firstlang','EC06Q01': 'start_learn_at',
                   'EC07Q01':'mother_language','EC07Q02':'father_language',
                   'EC07Q03':'sibling_language','EC07Q04':'bf_language',
                   'EC07Q05':'Schoolmates_language','OCOD1':'mother_occupation',
                   'OCOD2':'father_occupation','W_FSTUWT':'final_weight','SENWGT_STU':'countryweight'}, inplace=True)